/* Canvas */
.canvas_group
{
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    touch-action: none;
    user-select: none;
}

.viewHelperCNT {
    min-height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
}

