:root {
    --menu-height : 40px;
    --statusbar-height : 25px;
    --toolbar-width : 30px;
    --propertybox-width : 300px; 
    --toolbar-item-size : calc( var(--toolbar-width) - 8px );
    --toolbar-border-width : 4px;
    /* Theme */
    --toolbar-border-color : rgb(0, 0, 0);
    --toolbar-bg-color : rgb(255, 255, 255);
    --toolbar-font-color : rgb(0, 0, 0);
    --button-bg-color : var(--toolbar-bg-color);
    --button-border-color : var(--toolbar-border-color);
    --button-font-color : var(--toolbar-font-color);
}
html 
{
    height: 100%;
}
body
{
    background-color: gray;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    touch-action: none;
    user-select: none;
}

/* Menu */
.menu
{
    position: fixed;
    left: 5px;
    top: 5px;
    right: 5px;
    /* background-color: black; */
    height: var(--menu-height);
    
    /* border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    pointer-events: none;
}

.menu-item
{
    height: calc( var(--menu-height) - 8px );
    width: calc( var(--menu-height) - 8px );
    margin: 4px;
    background-size: cover;
}
.menu-perm {
    width: fit-content;
}
.menu-left-part  {
    display: flex;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-wrap: nowrap;
}
.menu-left-part .menu-item {
    float: left;
}

.menu-middle-part {
    pointer-events: all;
}

.menu-box {
    width: fit-content;
    border-style: solid;
    border-color: var(--toolbar-border-color);
    border-radius: calc(var(--menu-height)/4);
    border-width: 4px;
    background-color: var(--toolbar-bg-color);
    color: var(--toolbar-font-color);
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    pointer-events: all;
}
.menu-box .toolbar-item {
    height: calc( var(--menu-height) - 8px );
    width: calc( var(--menu-height) - 8px );
    margin: 4px;
    background-size: cover;
}
.menu-right-part  {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-wrap: nowrap;
}
.menu-right-part .menu-item {
    float: right;
}
#menu-box-left {
    display: flex;
    flex-direction: row;
}
#menu-box-right {
    display: flex;
    flex-direction: row-reverse;
}


/* .menu-left
{
    float: left;
}

.menu-right
{
    float: right;
} */


/* Workspace */
.workspace
{
    display: flex;
    flex-direction: row;

    width: 100%;
    /* height: calc(100vh - var(--menu-height) - var(--statusbar-height)); */
    height: 100vh;
    overflow: hidden;
}



/* Toolbar vertical */
.toolbar-vertical-cnt {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    pointer-events: none;
}
.toolbar-vertical-cnt-left {
    position: fixed;
    top: 0;
    left: 5px;
}
.toolbar-vertical-cnt-right {
    position: fixed;
    top: 0;
    right: 5px;
}
.toolbar-vertical
{
    color: var(--toolbar-font-color);
    background-color: var(--toolbar-bg-color);
    width: var(--toolbar-width);
    /* height: calc(100% - var(--toolbar-border-width)*2 ) ; */
    height: fit-content;
    min-height: calc( (100% - var(--menu-height) - var(--statusbar-height))*0.5 );
    
    border-style: solid;
    border-color: var(--toolbar-border-color);
    border-radius: calc(var(--toolbar-width)/4);
    border-width: 4px;

    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.toolbar-item
{
    width: var(--toolbar-item-size);
    height: var(--toolbar-item-size);
    background-size: cover;
    margin: 4px;
    border: 0;
    position: relative;
    display: inline-block;
    background-color: rgb(200, 200, 200);
}
.toolbar-item:hover {
    background-color: rgb(222, 222, 222);
}
/* Show the tooltip text when you mouse over the tooltip container */
.toolbar-item:hover .tooltip-text {
    visibility: visible;
}

/* Tooltip text */
.toolbar-item .tooltip-text {
    visibility: hidden;
    white-space: nowrap;
    background-color: var(--toolbar-bg-color);
    color: var(--toolbar-font-color);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    border: solid 2px var(--toolbar-border-color);
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltip-text:empty {
    visibility: hidden;
}

/* Arrow at left */
.toolbar-vertical-cnt-left .toolbar-item .tooltip-text {
    top: -11px;
    left: 150%;
}
.toolbar-vertical-cnt-left .toolbar-item .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
/* Arrow at right */
.toolbar-vertical-cnt-right .toolbar-item .tooltip-text {
    top: -11px;
    right: 150%;
}
.toolbar-vertical-cnt-right .toolbar-item .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
/* Arrow at top left */
#editorui-menubar-left .toolbar-item .tooltip-text {
    top: 100%;
    left: 0%;
    margin-top: 10px;
}
#editorui-menubar-left .toolbar-item .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 0%;
    margin-left: calc(var(--menu-height)*0.5 - 10px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
/* Arrow at top right */
#editorui-menubar-right .toolbar-item .tooltip-text {
    top: 100%;
    right: 0%;
    margin-top: 10px;
}
#editorui-menubar-right .toolbar-item .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    right: 0%;
    margin-right: calc(var(--menu-height)*0.5 - 10px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


.toolbar-perm
{
    height: fit-content;
}
.toolbar-top
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.toolbar-bottom
{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/* StatusBar */
.status-bar-cnt{
    position: fixed;
    left: 5px;
    bottom: 5px;
    right: 5px;
    pointer-events: none;
    display: flex;
    flex-direction: row;
}
.editorui-statusbar-left {
    display: flex;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-wrap: nowrap;
}
.editorui-statusbar-right {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-wrap: nowrap;
}
.editorui-statusbar-right .status-bar {
    float: right;
}
.status-bar
{
    /* grid-area: footer; */
    color: var(--toolbar-font-color);
    background-color: var(--toolbar-bg-color);
    border-radius: calc(var(--toolbar-width)/4);
    border: solid var(--toolbar-border-color) 4px;
    height: var(--statusbar-height);
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    /* width: calc(100vw - 10px); */
    pointer-events: all;
    margin-left: 5px;
    cursor: default;
}
.status_help_tip
{
    /* grid-area: footer; */
    text-align: center;
    white-space: nowrap;
}

.status-bar-right {
    float: rightcss;
}

.horiz-center {
    display: table;
    margin: 0 auto;
}