.sidebar {
    width: calc(var(--propertybox-width) + 20px);
    height: fit-content;
    max-height: calc(100vh - var(--menu-height) - var(--statusbar-height) - 40px);
    overflow-y: auto;
    overflow-x: hidden;

    position: fixed;
    right: calc(var(--toolbar-width) + 20px);
    top: calc(var(--menu-height) + 20px);
    /* bottom: calc(var(--statusbar-height) + 20px); */
    padding: 0;

    pointer-events: none;

}

.sidebar-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar:empty {
    display: none;
}

.property-bar
{
    width: var(--propertybox-width);
    height: fit-content;

    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: calc(var(--toolbar-width)/4);

    display: flex;
    flex-direction: column;

    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.pd_title
{
    background-color: black;
    color: white;
    padding: 5px;
}

.pb_Property_bdy
{
    width: calc(100% - 8px);
    flex-grow: 1;
    padding: 4px;
    overflow: auto;
    overflow-x: hidden;
}

.pb_Property_bdy *
{
    padding: 4px;
}