.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 0.25rem;
}
.p-2 {
    padding: 0.5rem;
}

.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-fit {
    width: fit-content;
}
.h-fit {
    height: fit-content;
}

.overflowX-scroll {
    overflow-x: scroll;
}
.overflowY-scroll {
    overflow-y: scroll;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.disable-mouse {
    pointer-events: none;
}

.ml-0 {
    margin-left: 0;
}
.mt-0 {
    margin-top: 0;
}
.mr-0 {
    margin-right: 0;
}
.mb-0 {
    margin-bottom: 0;
}

.mx-2rem {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.mt-8rem {
    margin-top: 0.8rem;
}

.whitespace {
    white-space: pre-wrap;
}
.monospace {
    font-family: monospace;
}

.b-0 {
    border: 0;
}
.b-none {
    border: none;
    border-collapse:collapse;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.cursor-cross {
    cursor: crosshair;
}

.cursor-hand {
    cursor: pointer;
}

.disable-touch {
    touch-action: none;
    user-select: none;
}

.transform-center {
    transform-origin: center;
}